body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#topo{
    width: 960px;
    margin: auto;
    background-color: #ccc;
}

header #top{
    display: flex;
    align-items: center;
}

#logo {
    width: 250px;
}
#logo img{
    width: 150px;
}

#buscar {
    background-color: white;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
}

#txtBuscar{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}

#buscar img{
    width: 30px;
    background-color: aqua;
    border-radius: 15px;
    margin: 0 0 -5px;


}





